[Unit]
Description=InfluxDB Service
After=docker.service
Requires=docker.service

[Service]
User=otavio
ExecStartPre=/usr/bin/docker pull quay.io/influxdb/influxdb:v2.0.2
ExecStart=/usr/bin/docker run --rm --name influxdb -v influxdb-data:/root/.influxdbv2 -p 8086:8086 quay.io/influxdb/influxdb:v2.0.2 --reporting-disabled
ExecStop=/usr/bin/docker stop influxdb
Restart=on-abort


[Install]
WantedBy=multi-user.target
